<%- include('header') -%>
    <h1>Editar película</h1>
    <form action="/peliculas/editar/<%= pelicula.id %>" method="POST">
        <div>
            <label for="">Título</label>
            <input type="text" name="title" value='<%= pelicula.title %>'>
        </div>
        <div>
            <label for="">Premios</label>
            <input type="text" name="awards" value='<%= pelicula.awards %>'>
        </div>
        <div>
            <label for="">Duración</label>
            <input type="text" name="length" value='<%= pelicula.length %>'>
        </div>
        <div>
            <label for="">Rating</label>
            <input type="text" name="rating" value='<%= pelicula.rating %>'>
        </div>
        <div>
            <label for="">Fecha de estreno</label>
            <input type="text" name="release_date" value='<%= pelicula.release_date %>'>
        </div>
        <div>
            <label for="">Genero</label>
            <select name="genre">
                    <% for (let i=0; i < generos.length; i++) } %>
                        <% if (generos[i].id == pelicula.genre_id) { %>
                            <options value="<%= generos[i].id %>" selected>
                                <% generos[i].name %>   
                           </options>     
                        <% } else { %>
                            <options value="<%= generos[i].id %> ">
                                <% generos[i].name %>   
                           </options>
                        <% } %>                       
                    <% } %>
            </select>
        </div>
        <button type="submit">Editar</button>
    </form>

<%- include('footer') -%>